h1, p {
	color: blue;
}

.tengah {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 280px;
}

#background_biru {
	background-color: blue;
	color: white;
}